.listEpisodesCompact__container {
  display: grid;
  max-width: 900px;
  gap: 45px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 850px) {
  .listEpisodesCompact__container {
    grid-template-columns: 1fr;
    max-width: 550px;
  }
}

.listContainer {
  min-height: 100vh;
}

.listOfEpisodes {
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  margin: 0 auto;
}

.listOfEpisodes__item {
  margin: 30px;
  background-color: #202020;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow-y: hidden;
  max-width: 500px;
  width: 250px;
}

.listOfEpisodes__item img {
  width: 250px;
  height: 250px;
}

.listOfEpisodes__item {
  color: white;
  text-decoration: none;
  font-weight: 400;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
  transition-property: opacity transform;
}

.listOfEpisodes__item:hover,
.listOfEpisodes__item:focus-within {
  opacity: 0.8;
  transform: translateY(-5px);
}
