.listCharactersCompact__container {
  display: grid;
  gap: 45px;
  grid-template-columns: 1fr 1fr;
}

@media  (max-width: 800px) {
  .listCharactersCompact__container {
    grid-template-columns: 1fr;
  }
}