.locationCard {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  width: 25%;
  min-width: 250px;
  background-color: #191919;
  color: white;
  text-decoration: none;
  padding: 1% 2%;
  margin-bottom: 40px;
  border-radius: 30px;
  text-align: start;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  transition-property: transform;
}

.locationCard:hover,
.locationCard:focus-within {
  transform: translateY(-10px);
}

a h2 {
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.6s;
  transition-property: color;
}

a:hover h2 {
  color: #888;
  text-decoration: underline #888;
}

@media screen and (max-width: 769px) {
  .locationCard {
    padding: 0 5%;
  }
}
