.location__content {
  border-radius: 30px;
  background-color: #191919;
  overflow: hidden;
  display: flex;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: start;
  padding: 20px 0;
  margin-bottom: 50px;
  flex-wrap: wrap;
}
/* padding: 20px; */
.content__residents,
.content__info {
  min-width: 250px;
  padding: 40px;
  box-sizing: border-box;
}

.content__residents {
  width: 60%;
  overflow-y: scroll;
  border-left: 1px solid #666;
  padding-top: 0;
  max-height: 500px;
}

/* .content__residents:-webkit- */

.content__info {
  width: 40%;
}
.content__info h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.content__residents::-webkit-scrollbar {
  background-color: #191919;
  width: 10px;
  border-inline-start: 3px solid transparent;
  padding-left: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.content__residents::-webkit-scrollbar-thumb {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s width;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.6);
}

.content__residents::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 831px) {
  .content__residents,
  .content__info {
    width: 100%;
    border: 1px solid red;
    overflow: visible;
    max-height: max-content;
  }
}
