.searchForm {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  min-width: 270px;
  max-width: 300px;
  margin: 0 auto;
}

.searchForm input[type='text']:focus {
  outline: none;
}

.searchForm input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.searchForm input[type='text'] {
  color: white;
  width: 80%;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid white;
  border-inline-end-color: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  padding-left: 25px;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.searchForm button {
  width: 20%;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
}

.searchForm button svg {
  height: 30px;
}

.searchForm button:focus {
  outline: none;
}
