.Spinner {
  height: 50px;
  width: 50px;
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 0.5s linear infinite;
  border-left-color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
