.spinner__container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  display: flex;
  align-items: center;
}

.spinner {
  height: 80px;
  width: 80px;
  border: 12px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin: 20px auto;
  animation: spin 0.5s linear infinite;
  border-left-color: transparent;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
