.navbar {
  padding: 0;
  margin-bottom: 30px;
}

.navbar li {
  list-style: none;
  display: inline-block;
  margin: 0 15px 0 15px;
}

.navbar__item a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-weight: 600;
}
