.x {
  text-decoration: none;
}

.episodeCompact {
  background-color: #202020;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition-property: color text-decoration transform;
  margin-top: 5px;
  text-align: start;
}

.episodeCompact h2 {
  font-size: 1.7rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
  transition-property: color text-decoration transform;
}
