body {
  margin: 0;
  background: rgb(20, 29, 85);
  background: linear-gradient(180deg, rgba(20, 29, 85, 1) 0%, rgba(11, 11, 14, 1) 100%);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
}
