@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('./fonts/inter-v3-latin-regular.woff2') format('woff2'),
    url('./fonts/inter-v3-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('./fonts/inter-v3-latin-600.woff2') format('woff2'),
    url('./fonts/inter-v3-latin-600.woff') format('woff');
}

body {
  margin: 0;
  background: #111;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
}

.App {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 60px;
}

h2 {
  font-size: 1.8rem;
}

b {
  color: #9e9e9e;
}

body::-webkit-scrollbar {
  background-color: #171717;
  width: 10px;
  border-inline-start: 3px solid transparent;
}

body::-webkit-scrollbar-thumb {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s width;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.6);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.4rem;
  }
}
