body {
  margin: 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  transition-property: background;
  background: rgb(20, 29, 85);
  background: linear-gradient(180deg, rgba(20, 29, 85, 1) 0%, rgba(11, 11, 14, 1) 100%);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: white;
}
