.home {
  margin-top: 40px;
}

.home h1 {
  margin-top: 55px;
  margin-bottom: 25px;
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  align-items: center;
  padding: 0 5%;
}

.home > p {
  color: #aaa;
}

.home__top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
}

.top__title {
  margin-bottom: 20px;
}

.home__pickle {
  width: 70%;
  max-width: 300px;
  animation: ease-in infinite 4s little_spin;
}

@keyframes little_spin {
  0% {
    transform: rotate(15deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(15deg) translateY(15px);
  }
  75% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

.home__content {
  text-align: left;
  width: 90%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 0 auto;
  gap: 60px;
  grid-template-areas: 'characters history';
}

.content__history {
  grid-area: history;
}

.content__history a {
  color: #888;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.7s color;
}

.content__history a:hover {
  color: #444;
}

.content__recommended {
  grid-area: characters;
  margin-bottom: 20px;
}

@media screen and (max-width: 1025px) {
  .home__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    gap: 0;
    text-align: center;
    grid-template-areas:
      'history'
      'characters';
  }
  .react-logo {
    height: 2.4rem;
  }
}

.react-logo {
  height: 3rem;
  margin-left: 10px;
  animation: linear infinite 5s spin;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
